<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @like.user_id %>
</p>

<p>
  <b>Event:</b>
  <%= @like.event_id %>
</p>

<p>
  <b>Like:</b>
  <%= @like.like %>
</p>


<%= link_to 'Edit', edit_like_path(@like) %> |
<%= link_to 'Back', likes_path %>
